.img-tablet {
    display: none;
}

.img-desktop {
    display: none;
}

body {
    background-image: url("../images/mobile/image-host.jpg");
}

.spotify {
    width: 20%;
}

.apple {
    width: 15%;
}

.pocket {
    width: 25%;
}

.logo {
    position: relative;
    left: 6em;
    margin-top: 3em;
}