@media (min-width: 768px) {
    body {
        background-image: url("../images/mobile/image-host.jpg");
        background-repeat: no-repeat;
        background-position: right;
    }
    .publish {
        width: 60vw;
        text-align: left;
        text-transform: uppercase;
    }
    .upload {
        width: 45vw;
        text-align: left;
    }
    .logo-div {
        display: flex;
        flex-direction: row-reverse;
        width: 50%;
        .spotify,
        .apple,
        .google,
        .pocket {
            position: relative;
            left: 6.5em;
            top: 12.5em;
            margin-left: 1em;
        }
    }
    .main-content {
        width: 60vw;
    }
    form input {
        position: relative;
        width: 40vw;
        right: 5em;
    }
}